[Container]
ContainerName=bookstack_db
Environment=PUID=1000
Environment=PGID=1000
Environment=MYSQL_ROOT_PASSWORD=password 
Environment=TZ={{ bookstack_timezone }} 
Environment=MYSQL_DATABASE=bookstack
Environment=MYSQL_USER=bookstack
Environment=MYSQL_PASSWORD=bookstack
Environment=TERM=dumb
Image=docker.io/mariadb:11.2.3-jammy
Pod=bookstack.pod
Volume={{ bookstack_db_config_path }}:/config{% if bookstack_db_config_label|length > 0 %}:{{ bookstack_db_config_label }}{% endif %}

Volume={{ bookstack_db_data_path }}:/var/lib/mysql{% if bookstack_db_data_label|length > 0 %}:{{ bookstack_db_data_label }}{% endif %}

{% for bookstack_db_var in bookstack_db_additional_options %}
{{ bookstack_db_var }}
{% endfor %}

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
